global_domain=""
global_username=""
global_auth_url="https://os-api.arcticcloud.com:5000/v3"
api_password= ""
instance_type="g1.small"
ssh_key="/home/user/.ssh/id_rsa"
ssh_key_file="/home/user/.ssh/id_rsa.pub"
instance_zone="SV1"
